# Node modules
node_modules/
# Cache files
node_modules/.cache/


# Build folders
dist/
build/

# Logs
*.log

# Environment files
.env

# Cache folders
.cache/

# OS files
.DS_Store
Thumbs.db
backend/ai_server/.venv
node_modules
# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
.venv/
.env
venv/
env/

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# FAISS and data
faiss.index
faiss_docs.npy
*.npy

# Logs
*.log