.full-chatbot-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
}

.robot-animation img {
  width: 350px;
  margin-bottom: 1rem;
}

.voice-btn {
  background-color: #008cf7;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  border: none;
  cursor: pointer;
}

.voice-btn:hover {
  background-color: #00a1ff;
}
