.journal-container {
  max-width: 700px;
  margin: auto;
  padding: 2rem;
  color: white;
  text-align: center;
  background: linear-gradient(135deg, #090d1f, #0f1c30);
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(0, 195, 255, 0.4);
  margin-top: 2rem;
}

.journal-title {
  font-size: 2.2rem;
  font-weight: 700;
  color: #00eaff;
}

.journal-sub {
  opacity: 0.8;
}

.journal-textarea {
  width: 100%;
  min-height: 250px;
  padding: 1.3rem;
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid #00eaff;
  border-radius: 15px;
  color: #fff;
  font-size: 1.1rem;
  outline: none;
  resize: none;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 0 10px rgba(0, 200, 255, 0.3);
  transition: 0.3s ease;
}

.journal-textarea:focus {
  border-color: #00b3ff;
  box-shadow: 0 0 20px rgba(0, 200, 255, 0.6);
}

.save-btn {
  font-size: 1.1rem;
  padding: 10px 25px;
  border-radius: 12px;
  font-weight: 600;
  background: #00eaff;
  border: none;
  color: black;
  transition: 0.3s;
}

.save-btn:hover {
  background: #00cfff;
}

